/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* General Reset */
body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: 1.25vw;
    font-family: andes;
    overflow-y: auto !important;
    color: #000000;
    line-height: 1;
    overflow-x: hidden;
}

/* Header Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D82E35;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: orange;
}

button:hover { 
transform: scale(1.2);
}

/* Body Content */
main {
    margin-top: 80px; /* Adjust for header height */
    padding: 2rem;
    text-align: center;
}
