
*, *::after, *::before {
  box-sizing:border-box;  
}







/* CUSTOM PROPERTIES */

:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/



/* General Reset */
body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: 1.25vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto !important;
    color: #000000;
    line-height: 1;
    overflow-x: hidden;
}

/* Header Styling */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D82E35;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

 header > img {
    width: 57px; 
    height: 72px;
    position: relative;
    left:1rem;
    bottom:-1rem;
    max-width:10em;
}

header > ul {
    display:flex;
    justify-content:end;
}

header > button {
    height: 30px;
    width: 30px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}




a:hover {
    color: lightcoral;
    transform: scale(1.2);
    transition: color 1s ease;
    
}

button:hover { 
    transform: scale(1.2);
}



/* Body Content */
main {
    margin-top: 80px; 
    padding: 2rem;
    text-align: center;
}

section > button  {
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    background: #ffffff;
    border-color: none;
}

section > img {
    width: 100%;
    height: auto;
}
/* Footer Content */

button.streepjes li:nth-of-type(1) button {
    /* grid om de 3 spans in het midden van de button te positioneren */
    display:grid;
    place-items:center;
    
    /* de button is rond */
    border-radius:50%;
  }
  
  /* alledrie de streepjes */
  button.streepjes li:nth-of-type(1) button span {
    /* alledrie de spans in de eerste kolom en rij */
    /* ze staan dan over elkaar heen*/
    grid-row-start:1;
    grid-column-start:1;
    
    /* grootte en kleur van de streepjes */
    width:1.2em;
    height:.2em;
    background-color:var(--color-button-text);
    
    /* transities duren .5s */
    transition-duration:.5s;
  }
  